<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
</head>

<body>
    <form action="/ballot/submit-ballot" method="post">
        <h1><%= electionTitle %></h1>
        <% for (let i = 0; i < candidates.length; i++) { %>
            <input type="radio" name="President" value="<%= candidates[i] %>" id="Option <%= i %>">
            <label for="Option <%= i %>"><%= candidates[i] %></label><br>
        <% } %>
        <button type="submit">Submit</button>
    </form>
</body>

</html>
