<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">

</head>

<body>
    <%
    const options = {
        year: 'numeric', 
        month: 'short', 
        day: '2-digit',
        hour: 'numeric',
        minute: 'numeric',
        hour12: true,
        timeZone: 'Asia/Manila' // Set the desired time zone
    }
    %>

    <%  const startDateObject = new Date(startDate);
         const endDateObject = new Date(endDate);
    %>
    <nav class="navbar navbar-expand-sm border bg-primary">
        <a class="navbar-brand ms-5 text-white" href="#">DigiVote by URSM</a>
        <p class="h5 ms-auto me-5 text-white">Configure Election</p>
        <a class="btn btn-success me-5" href="/admin/saveElection?electionTitle=<%=electionTitle%>&startDate=<%=startDate%>&endDate=<%=endDate%>&electionId=<%=electionId%>">Launch Election</a>

      </nav>
      <%- include('./partials/launchErrors') %>
      <div class="container my-5">
      <div class="row my-5">
        
        <div class="col-sm-2">
        </div>
        
        <div class="col-sm-8">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th colspan="2" class="text-center p-0"><div class="container-fluid bg-primary text-white py-3 h5">Election Details</div></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Election Title</th>
                    <td><%= electionTitle %></td>
                  </tr>
                  <tr>
                    <th scope="row">Start Date</th>
                    <td><%= startDateObject.toLocaleString('en-US', options) %></td>
                  </tr>
                  <tr>
                    <th scope="row">End Date</th>
                    <td><%= endDateObject.toLocaleString('en-US', options) %></td>
                  </tr>
                  <tr>
                    <td colspan="2" class="text-end"><a class="btn btn-primary text-center px-5" href="/admin/editElectionTitle?electionTitle=<%= electionTitle %>&startDate=<%= startDate %>&endDate=<%= endDate %>&electionId=<%=electionId%>">Edit</a></td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="col-sm-2">
        </div>
        </div>
        <div class="row my-5">
            <div class="col-sm-2">

            </div>
        <div class="col-sm-8">

            <table class="table table-striped">
                <thead>
                  <tr>
                    <th colspan="3" class="text-center p-0"><div class="container-fluid bg-primary text-white py-3 h5">Election Ballots</div></th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="text-center">
                    <th>Position</th>
                    <th>Candidates</th>
                    <th></th>
                  </tr>
                  <%
                  if (ballots.length !==0){ for (let ballot of ballots) { %>
                    <tr>
                        <td class="text-center">
                            <p>
                                <%=ballot.position%>  
                            </p>
                        </td>
                        <td class="text-center">
                            <p>
                                <%= ballot.candidates.join(', ') %>
                            </p>
                        </td>
                        <td class="text-center">
                                <a class="btn btn-danger px-3" type="button" data-toggle="modal"
                                    data-target="#ModalId<%=ballot._id%>">Delete</a>
            
                            <div class="modal fade" id="ModalId<%=ballot._id%>" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel<%=ballot._id%>" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title text-danger" id="exampleModalLabel<%=ballot._id%>">WARNING</h5>
            
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to remove this ballot from election: <%=electionTitle%>?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                            <a class="btn btn-primary"
                                                href="/admin/deleteBallot?electionId=<%=electionId%>&ballotId=<%=ballot._id%>">Yes</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
        
                        </td>
                    </tr>
                    <% }} else { %>
                        <tr>
                            <td colspan="3" class="text-center">
                                <p>No ballots yet.</p>
                            </td>
                        </tr>
                        <% } %>
                    <tr>
                        <td colspan="3" class="text-end">
                            <a class="btn btn-primary px-5" href="/admin/editBallot?electionTitle=<%=electionTitle%>&startDate=<%=startDate%>&endDate=<%=endDate%>&electionId=<%=electionId%>">Add Ballot</a>
        
                        </td>
                    </tr>
                </tbody>
              </table>


               
                    
            </div>
      </div>
      <div class="col-sm-2"></div>
    </div>

    <form method="post" action="/admin/addVoters?electionId=<%=electionId%>">
        <div class="container my-5 w-50">
            <p class="h2">Add Voters</p>
            <p>Reminder: Make sure your voters are already registered in the Voters database. If not,
                register
                your voters in the Admin's Dashboard page.</p>
            <div class="form-group">
                <%- include('./partials/loginErrors.ejs') %>
                    <label for="studentNumbers">Add your Voters by their Student Number (new line per
                        voter):</label>
                    <textarea class="form-control" id="studentNumbers" name="studentNumbers" rows="5"
                        required></textarea>
            </div>
            <div class="container text-end my-3">
                <button type="submit" class="btn btn-primary">Register Voters</button>
            </div>
            
        </div>
    </form>

    <p class="h2 text-center m-5">Election Voters</p>
    <div class="container mb-5">
        <div class="row border">
            <div class="col-sm-2">
                <p class="fw-bold">STUDENT NUMBER</p>
            </div>
            <div class="col-sm-2">
                <p class="fw-bold">FIRST NAME</p>
            </div>
            <div class="col-sm-2">
                <p class="fw-bold">MIDDLE NAME</p>
            </div>
            <div class="col-sm-2">
                <p class="fw-bold">LASTNAME</p>
            </div>
            <div class="col-sm-2">
                <p class="fw-bold">PROGRAM</p>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
        <% if (electionVoters.length !==0){ for (let voter of electionVoters) { %>
            <div class="row border">
                <div class="col-sm-2">
                    <p>
                        <%= voter.studentNumber %>
                    </p>
                </div>
                <div class="col-sm-2">
                    <p>
                        <%= voter.firstName %>
                    </p>
                </div>
                <div class="col-sm-2">
                    <p>
                        <%= voter.middleName %>
                    </p>
                </div>
                <div class="col-sm-2">
                    <p>
                        <%= voter.lastName %>
                    </p>
                </div>
                <div class="col-sm-2">
                    <p>
                        <%= voter.program %>
                    </p>
                </div>
                <div class="col-sm-2 text-center">
                    <a class="btn btn-danger px-3" type="button" data-toggle="modal"
                        data-target="#ModalId<%=voter._id%>">Delete</a>
                </div>

                <div class="modal fade" id="ModalId<%=voter._id%>" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel<%=voter._id%>" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-danger" id="exampleModalLabel<%=voter._id%>">WARNING</h5>

                            </div>
                            <div class="modal-body">
                                Are you sure you want to remove this voter from election: <%=electionTitle%>?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                <a class="btn btn-primary"
                                    href="/admin/deleteElectionVoter?electionId=<%=electionId%>&studentNumber=<%=voter.studentNumber%>">Yes</a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <% }} else { %>
                <div class="row border">
                    <div class="col-sm-12 text-center">
                        <p>No registered voters yet.</p>
                    </div>
                </div>
                <% } %>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>