<%- include('./head') %>
  <title>Register</title>
  </head>

  <body>
    <div class="container" style="max-width: 500px;">
      <h2>Admin Registration Form</h2>
      <%- include ('./partials/validationErrors') %>
        <form action="/signup/admin" method="post">

          <label for="firstName">First Name:</label><br>
          <input type="text" id="firstName" name="firstName"
            value="<%= typeof firstName != 'undefined' ? firstName: '' %>"><br>

          <label for="middleName">Middle Name:</label><br>
          <input type="text" id="middleName" name="middleName"
            value="<%= typeof middleName != 'undefined' ? middleName: '' %>"><br>

          <label for="lastName">Last Name:</label><br>
          <input type="text" id="lastName" name="lastName"
            value="<%= typeof lastName != 'undefined' ? lastName: '' %>"><br>

          <label for="email">Email Address:</label><br>
          <input type="email" id="email" name="email" value="<%= typeof email != 'undefined' ? email: '' %>"
            required><br>

          <label for="organization">Organization:</label><br>
          <input type="text" id="organization" name="organization"
            value="<%= typeof organization != 'undefined' ? organization: '' %>"><br>

          <label for="password">Password:</label><br>
          <input type="password" id="password" name="password" required><br>

          <label for="confirmPassword">Confirm Password:</label><br>
          <input type="password" id="confirmPassword" name="confirmPassword" required><br>



          <input type="submit" value="Register">
        </form>
    </div>
  </body>

  </html>