<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>

    <h1>Welcome to Voter's Dashboard, <%= voter.firstName %>
            <%= voter.lastName %>!</h1>
    <a href="/voter/logout" class="btn btn-primary">Logout</a>
    <hr>
    <div class="container">
        <p class="h2 text-center">INVITED ELECTIONS</p>
        <div class="row">
            <div class="col-sm-2">
                <p class="h5">Election Title</p>
            </div>
            <div class="col-sm-3">
                <p class="h5">Start Date</p>
            </div>
            <div class="col-sm-3">
                <p class="h5">End Date</p>
            </div>
            <div class="col-sm-2">
                <p class="h5">Election Status</p>
            </div>
            <div class="col-sm-2">
                <p></p>
            </div>
        </div>
        <%const options = { 
            timeZone: 'Asia/Manila',
            hour12: true,
            hour: 'numeric',
            minute: 'numeric',
            day: 'numeric',
            month: 'short',
            year: 'numeric'
         };

        const now = new Date(); 
        for (const election of invitedElections){ 
            if (now < election.startDate){ 
                var status = 'UPCOMING';
                var btn = 'Waiting to Start';
                var url =  '#';
              }
              else if (now > election.startDate && now > election.endDate){
                  var status = 'FINISHED';
                  var btn = 'View Final Results';
                  var url = '#';
              }
              else if (now > election.startDate && now < election.endDate){
                  var status = 'ONGOING';
                    var btn = 'Vote Now';

                  var url = '/voter/vote?electionId=' + election._id ;
              } %>
        <div class="row border align-items-center">
            <div class="col-sm-2">
                <%= election.electionTitle %>
            </div>
            <div class="col-sm-3">
                <%= election.startDate.toLocaleString('en-us', options) %>
            </div>
            <div class="col-sm-3">
                <%= election.endDate.toLocaleString('en-US', options) %>
            </div>
            <div class="col-sm-2">
                <%= status %>
            </div>
            <div class="col-sm-2 px-0">
                <a class="btn w-100 <%= status === 'UPCOMING' ? 'btn-warning' : (status === 'FINISHED' ? 'btn-success' : 'btn-primary') %>"
                    href="<%= url %>"><%= btn %></a>
            </div>
            
        </div>
        <% } %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>